<div class="container">
  <div class="row">
    <h1 id="tableLabel">Startsida</h1>
  </div>
  <div class="row mt-4">
    <a href="/consultants">
      <div class="col-12 home-page-nav-first">
        Konsulter >
      </div>
    </a>
    <a href="/bonus">
      <div class="col-12 mt-2 home-page-nav-second">
        Bonusberäkning >
      </div>
    </a>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h2>Information</h2>
    </div>
    <div class="col-12">
      Här kan du lägga till eller redigera konsulter på arbetsplatsen. Du kan även skapa bonusunderlag för de anställda, både som utkast och som genomförda.<br />
      Jag har inte importerat externa bibliotek/paket. Ifall jag hade importerat paket så hade det varit Angular Material och date-fns.
    </div>
  </div>
</div>
